:root {
  --primary: "#7369F0";
  --light-primary: "#ecebfe";
  --secondary-primary: "#f9f9ff";
  --red: "#ff3e3e";
  --light-red: "#ffecec";
  --gray: "#C5C6D0";
  --light-gray: "#F3F3F5";
  --dark-gray: "#86889E";
  --green: "#30d35e";
  --light-green: "#eafbef";
  --yellow: "#ffb547";
  --light-yellow: "#fff8ed";
  --black: "#0e123e";
  --light-black: "#79797a";
  --blue: "#4891ff";
  --white: white;
}

.empty {
  @apply w-[5px] h-[5px];
}

html {
  font-size: 14px;
}
